/*
 CSS for the main interaction
*/
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .accordion-content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}
.accordion > input[type="checkbox"]:checked ~ .accordion-content {
  height: auto;
  overflow: visible;
}

.handle > label {
  display: block;
}

/*
 Styling
*/

.accordion {
  margin-bottom: 1em;
}

.accordion-content {
  padding-top: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.handle > label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background-color: #e8e8e8;
}

.handle > label:hover,
.handle > label:focus {
  background-color: #d8d8d8;
}

.handle > label:before {
  content: "▶";
  display: inline-block;
  margin-right: 10px;
  font-size: .58em;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle > label:before {
  content: "▼";
}