// -----------------------------------------------------------------------------
// This file contains all styles related to the nav component.
// -----------------------------------------------------------------------------

  /* menu - navbar */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    // background-color: #ff0000;
    font-size: 1.2em;
    font-weight: 900;
    visibility: hidden;
    opacity: 1;
    z-index: 10;
    display: grid;
    grid-template-rows: 1fr 1fr; 
  }

.grid-cell {
  justify-self: center;
  align-content: center;
  padding: 0 1em;
}

.nav-item {
  max-width: 40vw;
}
  .nav-link {
    text-decoration: none;
  }

.menu-header {
  position: fixed;
    right: 1px;
    height: calc(1em + 3vw);
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0 1rem 0 1rem;
    z-index: 20;
}

.menu > ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  max-height: 20vh;
  min-height: 400px;
}

.menu > ul > li {
  font-size: 0.5em;
  padding: 0.5em;
}
